{% extends 'base.html' %}
{% import 'macros.html' as macro%}


<!-- styles block -->

{% block styles%}
   {{super()}}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
{% endblock %}
<!-- Content block -->

<section id="index">
       
    {% block content %}

    <div class="container-fluid home">
        <div class="row">
                <div class="col-md-12">
                    
                        <div class="overlay">
                        <h2 class="blockquote text-center">Quote of the day...</h2>
                        
                        
                        <blockquote class="blockquote text-center">
                            <p class="mb-0">{{quotes.quote}}</p>
                            <footer class="blockquote-footer"><cite>{{quotes.author}}</cite></footer>
                        </blockquote>
                    
                    </div>
                </div>
        
        
        </div>
    </div>
    
    {% endblock%}

</section>



