{% extends 'base.html' %}
{% import 'macros.html' as macro%}


<!-- styles block -->

{% block styles%}
   {{super()}}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
{% endblock %}
<!-- Content block -->

<section id="index">
       
    {% block content %}

    <div class="container-fluid all">
            <div class="row">
                    <a href="{{url_for('main.new_post')}}"><br>
                        <span class="new">Add a new Post</span></a>
                    </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Posts</h3>
                {{macro.displayPosts(posts)}}
            </div>
        </div>
             <div class="row">
                <div class="col-md-12">
                    
                        
                        <h2>Quote of the day...</h2>
                        
                        
                        <blockquote class="blockquote text-center">
                            <p class="mb-0">{{quotes.quote}}</p>
                            <footer class="blockquote-footer"><cite>{{quotes.author}}</cite></footer>
                        </blockquote>
                    
                    
                </div>
        
        <div class="col-md-6">
                
                  {% for message in get_flashed_messages() %}
                  <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                  </div>
                  {% endfor %}
            
            
              </div>
        </div>
    </div>
    
    {% endblock%}

</section>



