{% macro displayPosts(posts_list) %}

    {% for post in posts_list[::-1] %}
      <div class="panel style="style="box-shadow: 5px 5px 5px 5px #f2f2f2; padding:10px; text-align:center;">
          <h3>{{post.post}}</h3>
          <p> Posted on:{{post.date}}</p>
          <br>
          <a href="{{url_for('main.new_comment',id=post.id)}}">Add a Comment
            <a href="{{url_for('main.view_comments',id=post.id)}}">View Comments</a>&nbsp;&nbsp;|
            <br>
            </a>
            </div>
            {% endfor %}

{% endmacro %}

<!-- Displaying quotes -->
{% macro displayQuoteList(quote_list) %}
<div class="row">
  {% for quote in quote_list %}
  <div class="row">
    <blockquote class="blockquote text-center">
      <p class="mb-0">{{quote.quote}}</p>
      <footer class="blockquote-footer"><cite>{{quote.author}}</cite></footer>
    </blockquote>
  </div>
  {% endfor %}
</div>


{% endmacro %}


